<ion-header>
  <ion-navbar>
    <ion-title>
      Todo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
    <ion-item>Todo 1</ion-item>
    <ion-item>Todo 2</ion-item>
    <ion-item>Todo 3</ion-item>  
  </ion-list>

</ion-content>
