<!--
  Generated template for the FilterModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="closeModal()"> 
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>FilterModal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
